header{
	color:  teal;
	text-align: center;
	font-family: sans-serif;
}

nav{
	text-align:center; 
	width: 1px 0px; 
	list-style: none;
}
ul { 
	text-align: center;
	background-color:  #1a0033;
	list-style-type: none;
    height: 35px;
    padding: 8px 4px 8px 4px;
 }

li {
	text-align: center;
	display: inline;
	padding:8px;
    color: white;
    text-decoration: underline;
}

section{
	float: left;
	width: 550px;
	font-size: 15px;

}
section h2{				/*centering the header and changing the color*/
	text-align: center;
	color:teal;
	font-family: sans-serif;
}
p{
	font-family: sans-serif;
}

figure img{
	display: inherit;
	width: 100%;
	height: 150%;
	margin-left: -5px;
}
aside{					/*images included*/
	text-align: center;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	width: 250px;
	float: right;
	margin-right: 150px;
	font-family: sans-serif;
}
aside h3{			/*centering the header and changing the color*/
	color:teal;
	font-family: sans-serif;
}
form h4{			/*Color of the headers in the form*/
	color:teal;
	font-family: sans-serif;
}
form{				/*Form attributes*/
	float:inherit;
	box-sizing: border-box;
	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
}
label{
  
  display: inline-block;
}

footer{
	border-color:#1a0033; /*closest approximation of the color*/
	border-width: 1.5px;
	border-style: solid;
	background-color:  #1a0033;
	clear: both;
	text-align: center;
	color: white;
	font-size: 12px;
}